@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 11pt;
    min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @color1;
  border-radius: 10px;
  padding: 1px;
}
tooltip label {
    color: @cursor;
}

#workspaces button {
  padding: 0 5px;
  background-color: @color1;
  color: @color15;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: @color2;
}

#workspaces button.active {
  background: @color2;
  border-bottom: 3px solid @color13;
}

#clock {
  padding: 0 5px;
  margin: 0 2.5px;
  border-radius: 5px;
  background-color: @color10;
}

#taskbar button{
  opacity: 0.5;
}

#taskbar button:hover {
  opacity: 0.8;
}

#taskbar button.active {
  opacity: 1;
}

#custom-brightness-py {
  color: yellow;
  padding: 0 2.5px;
}

#pulseaudio {
  padding: 0 2.5px;
}

#sources {
  background-color: @color10;
  padding: 0 2.5px;
  border-radius: 5px;
  margin: 0 2.5px;
}

#hardware {
  background-color: @color10;
  padding: 0 2.5px;
  border-radius: 5px;
  margin: 0 2.5px;
}

#cpu,
#memory,
#disk,
#temperature {
  padding: 0 2.5px;
}

#temperature.critical,
.critical {
  color: #FF5555;
}

.warning {
  color: #F1FA8C;
}

.ok {
  color: #50FA7B;
}

#custom-power {
  background-color: @color1;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 2.5px;
  font-size: 24px; 
}
